.error {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.img-error {
    width: 50rem;
}

.button {
    cursor: pointer;
    padding: 0.5rem;
    margin: 1rem 0;
    width: 30%;
    background-color: #C52F0C;
    border: 0;
    border-radius: 2rem;
    color: #F6ECE2;
    font-weight: bold;
    font-size: 1rem;
}

.button:hover {
    background-color: #D15521;
}

.link {
    text-decoration: none;
    font-weight: bold;
    color: #F6ECE2;
    padding: 0.5rem;
    margin: 0 0.5rem;
}

@media screen and (max-width: 900px){
    .img-error {
        width: 40rem;
    }
}

@media screen and (max-width: 600px){
    .img-error {
        width: 24rem;
    }

    .button {
        width: 50%;
    }
}

